
  <mat-card>
    <h2>{{ 'login-container.login.title' | translate }}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" id="email" name="email" required formControlName="email" />
        @if (isInvalidControl(form, 'email')) {
        <mat-error>{{ errorMessagesForControl(form, 'email')}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>{{ 'login-container.login.passwordPlaceholder' | translate }}</mat-label>
        <input matInput placeholder="Password" id="password" name="password" type="password" required
          formControlName="password" />
        @if (isInvalidControl(form, 'password')) {
        <mat-error>{{ errorMessagesForControl(form, 'password')}}</mat-error>
        }
      </mat-form-field>

      <div class="container-actions">
        <button class="button-primary" type="submit"  mat-flat-button>  {{ 'login-container.login.submitButton' | translate }}</button>
        <span class="text-center">
          {{ 'login-container.login.registerPrompt' | translate }}
        </span>
        <button class="button-secondary"  mat-raised-button type="button" (click)="navigateToRegister()"  mat-flat-button> {{ 'login-container.login.registerButton' | translate }}</button>
      </div>

    </form>
  </mat-card>
